.facebook{
  background-image: url(../img/f-bcg.png);
  -webkit-background-size: contain;
  background-size: cover;
  padding: 0 5% 2% 5%;
}

.f-img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  padding-bottom: 8px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(../img/f-bcg-img.png);
}

.from-facebook{
  background-color: $wh;
  padding-bottom: 1px;
}

