.img{
  margin: 20px;
}

.littleImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.img-board-view {
  margin: 2px;
  border: 2px solid transparent;
  box-sizing: border-box;
  transition: all .4s ease;
  &:hover {
    border-color: $bl;
  }

  &.active {
    border-color: $bl;
  }
}

.f-logo{
  float: left;
}

.friend{
  border: 1px solid transparent;
  cursor: pointer;
  &:hover{
    border-color: $blk;
  }
}

