

.h1-first-screen{
  text-align: center;
  color: $blk;
  font-family: Montserra;
  line-height: 40px;
  font-style: italic;
  margin: 15% 0;
  font-size: 50px;
  span{
    color: $wh;
    font-size: 25px;
  }
}

.common-h2{
  font-size: 20px;
  font-weight: 800;
  line-height: 17.6px;
  margin: 0;
  color: $blk;
}

.price{
  font-weight: 700;
  font-size: 24px;
}

.about-cursive{
  color: $blk;
  font-size: 16px;
  font-style: italic;
  text-align: left;
  line-height: 32px;
}

.header-cursive{
  font-family: Montserrat;
  text-transform: uppercase;
  color: $blk;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.team-member-name{
  font-size: 18px;
  font-weight: 400;
  font-family: Montserrat;
  color: $bl;
}

.team-member-place, .team-member-nick{
  font-family: Raleway;
  font-size: 14px;
  color: $d-gray;
}

.h2-team{
  font-family: Montserrat;
  color: #eee;
  font-size: 190px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10%;
  transform: translateY(33%);
}

.updates-text{
  padding: 20px;
  color: #787878;
  font-family: Raleway;
  line-height: 24px;
}

.copyright{
  color: #4d4d4d;
  font-size: 12px;
  grid-column: 1/3;
}

.p-facebook{
  color: $wh;
  font-size: 32px;
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  margin: 5%;
}

.f-profile-name{
  font-size: 18px;
  color: $wh;
  line-height: 18px;
  padding: 10px;
}

.likes-number{
  font-size: 12px;
}

.friends-liked{
  margin: 0;
  font-size: 12px;
  color: #4b4f56;
}