.about-wraper{
  margin-top: 10%;
  //height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/serfer.png);
  padding-top: 200px;
}

.about{
  display: flex;
}

.info-about{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: $wh;
  //padding-left: 25%;
}

